.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: #E4C2C6;
  height: 90px;
  padding: 20px;
  text-align: left;
  color: #0A014F;
  overflow: hidden;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.dashboard {
  padding: .8rem;
  margin: .8rem;
}

.recipe-item {
  text-align: center;
  border: rgba(246, 202, 202, 0.562) 1px solid;
  margin: .6rem;
  padding: .3rem;
  list-style: none;
  background-color: #F6CACA;
  transition: background-color 1s, margin 0.5s ease-out;
  text-decoration: none;
}

.recipe-item:hover {
  background-color: rgb(189, 223, 179);
  color: #0A014F;
  margin-top: 2px;
}

.rating {
  display: inline-block;
}

.back-button {
  background-color: #FAE8EB;
  border: .1rem solid rgba(250, 232, 235, 0.678);
  border-radius: .4rem;
  cursor: pointer;
  font-size: .9rem;
  font-weight: 500;
  padding: 0 2rem;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 1s;
}

.back-button:hover {
  background-color: rgb(189, 223, 179);
  color: #0A014F;
}

.right {
  float: right;
}

a {
  color: #111;
  text-decoration: none;
}

ul {
  margin: 1rem;
  padding: .5rem;
}

.ingredient-item {
  list-style: none;
}

@media screen and (max-width: 500px) {
  .App-header {
    text-align: center;
  }
  
  .header-right {
    float: inherit;
  }
}